.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 2rem;
}

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.82rem;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;
}

.btn-secondary {
  margin: 5px 0;
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
}

/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}

/* Dark mode toggle */
#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}

/* Header Container */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  padding: 1rem;
}

.header-container > div {
  margin-top: 1rem;
}


.content-text {
  text-align: center;
  margin: 1.5rem 0;
}

.content-text h2 {
  font-size: 3rem;
  line-height: 1.2;
  transition: 0.2s ease-in-out;
}

.content-text p {
  padding: 0.5rem;
  margin: 0 auto;
  max-width: 700px;
}

/* Project cards */
.card {
  padding: 1rem;
  background: var(--card-background);
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.card a {
  color: #ffffff;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

.card a:hover {
  color: var(--primary-color);
}

.card:hover {
  box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
}

.dark-card:hover {
  box-shadow: inset 0 100px 1000px 10px rgba(255, 255, 255, 0.4);
}

.card:hover .project-info {
  opacity: 1;
}

/* Project Images */

#template{
  background: url(../assets/project/Template.jpg) center center/cover;  
}

#burdemon{
  background: url(../assets/project/Burdemon.png) center center/cover;  
}

#cpr{
  background: url(../assets/project/Compressed/CPR-Trimmed.png) center center/cover;  
}

#cpr-2{
  background: url(../assets/project/Compressed/CPR-Back.png) center center/cover;  
}

#burdemonig{
  background: url(../assets/project/Compressed/Burdemon.jpg) center center/cover;  
}

#project78{
  background: url(../assets/project/Compressed/Project78.png) center center/cover;  
}

#project78uc{
  background: url(../assets/project/Project78.png) center center/cover;
}

#project78ik{
  background: url(../assets/project/Project78IK.png) center center/cover;
}

#project78ba{
  background: url(../assets/project/Project78Bow.png) center center/cover;
}

#project78blog{
  background: url(../assets/project/blog.png) center center/cover;
}

#apollo{
  background: url(../assets/project/Compressed/ApolloArena.jpg) center center/cover;
}
#apollouc{
  background: url(../assets/project/ApolloArena.png) center center/cover;
}

#uelabvr{
  background: url(../assets/project/Compressed/UELabVR.jpg) center center/cover;
}
#nomatch{
  background: url(../assets/project/Compressed/NoMatchForAGhost.jpg) center center/cover;
}
#space{
  background: url(../assets/project/Compressed/SpaceVolcano.jpg) center center/cover;
}
#coastalcleanup{
  background: url(../assets/project/Compressed/CoastalCleanup.jpg) center center/cover;
}
#proctown{
  background: url(../assets/project/Compressed/proctown.jpg) center center/cover;
}
#polliword{
  background: url(../assets/project/Compressed/Polliword.jpg) center center/cover;
}
#fearvr{
  background: url(../assets/project/Compressed/fearVR.jpg) center center/cover;
}
#uelab{
  background: url(../assets/project/Compressed/UeLab.jpg) center center/cover;
}
#magicavr{
  background: url(../assets/project/Compressed/MagicaVR.jpg) center center/cover;
}
#sand{
  background: url(../assets/project/Compressed/Sand.jpg) center center/cover;
}
#nature{
  background: url(../assets/project/Compressed/Nature.jpg) center center/cover;
}
#spacerace{
  background: url(../assets/project/Compressed/SpaceRace.jpg) center center/cover;
}
#vectorarcade{
  background: url(../assets/project/Compressed/VectorArcade2.jpg) center center/cover;
}
#nightlight{
  background: url(../assets/project/Compressed/NightLight.jpg) center center/cover;
}
#lumc{
  background: url(../assets/project/Compressed/lumc.jpg) center center/cover;
}
#deepfake{
  background: url(../assets/project/Compressed/deepfake.jpg) center center/cover;
}
#pythonspamfilter{
  background: url(../assets/project/Compressed/pyspam.jpg) center center/cover;
}

.thumbnailimg{
  max-width: 90vw;
  width: 560px;
}

/* Media Queries */
@media (max-width: 768px) {
  .header-container {
    margin-top: 5rem;
    text-align: center;
  }

  #bodybg{
    border-radius: 0px;
    margin:0;
  }

  body {
    overflow-x: hidden;
  }

  

  .content-text h2 {
    font-size: 2.5rem;
  }
}
